body{
    background-color: dimgray;
}
.visor{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 5px;
}
.resultado{
    width: 410px;
    height: 75px;
    font-size: 3.0em;
    text-align: right;
    border: none;
}
.calculadora{
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn{
    font-size: 3.0em;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border: none;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: cornflowerblue;
}